@import url("variables.css");

.banner{
    height: 75vh;
    overflow: hidden;
    text-align: center;
    position: relative;
    color: var(--white);
}

.banner__content{
    position: relative;
    z-index: 1;
}

.banner__image{
    background-image: url('../assets/app/catalog.jpg');
    background-repeat: repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 0;
    opacity: 0.3;
}

@media(min-width: 768px){
    .banner{
        height: 55vh;
    }
}

/* SOLO APLICA EL HOVER CUANDO ESTE DISPONIBLE */
/* @media(hover: hover){
    p:hover{
        color: yellow;
    }
} */