@import url("variables.css");

/***** RESET ******/
html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */    
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-size: 1.6rem;
    line-height: 2;
    background-color:var(--black);
    color: var(--white);
}

.main__container{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    color: var(--white);
}

.no--margin{
    margin: 0;
}

.no--underline{
    text-decoration: none;
}

.no--resize{
    resize: none;
}

.hidden--xs{
    display: none;
}