@import url("variables.css");

.btn{
    color: var(--white);
    background-color: var(--main-brand-color);
    padding: 1rem;
    border-radius: .5rem;
    border: 1px solid var(--main-brand-color);
    font-size: 1.1rem;
    margin: .5rem;
    text-transform: uppercase;
}

/* RESPONSIVE */
@media screen and (min-width: 768px){
    .hidden--xs{
        display: block;
    }
}