.info {
    width: 90%;
    margin: 0 auto;
    max-width: 768px;
  }

  .info__text{
    text-align: center;
  }
  
  .info .info__video {
    position: relative;
    display: flex;
    justify-content: center;
  }
  
  .info .info__video img {
    position: relative;
    z-index: 2;
    width: 274px;
  }
  
  .info .info__video video {
    position: absolute;
    z-index: 1;
    top: 30px;
    width: 175px;
  }
  
  @media(min-width: 768px){
    .info .info__video img{
      width: 450px;
    }

    .info .info__video video{
      width: 280px;
    }
  }

  @media(min-width: 1024px){
    .info{
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      padding-top: 3rem;
    }
  }